$navbar-default-bg: #1976D2;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #ffffff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.jumbotron{
	background-image: asset-url('jumb.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron h1 {
	color: #ffffff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer a:hover{
	color: #222;
}
footer small {
	float: left;
}
footer ul{
	float: right;
	list-style: none;
}
footer ul li{
	float: left;
	margin-left: 15px;
}
.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
}
.description {
	margin-top: 0;
}